body{
  background-color: black;
  color:rgb(243, 167, 4);
  font-family: 'Cinzel', serif;
}

img{
  width: 45%;
  height: auto;
}

#saur-on{
  display: none;
}

#look-at{
  display:none; 
}

.clickable {
  cursor: pointer;
  color: #cc3000;
  font-weight: bold;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #cc3000;
  font-weight: bold;
}

.clickable2:hover {
  text-decoration: underline;
}